# Logistic regression

$$ h_\theta = g(\theta^Tx)\\
g(z) = \frac{1}{1+e^{-z}}
$$
如果$ h_\theta \ge 0.5$， 预测 $y=1$，i.e. $\theta^Tx \ge0$

如果$ h_\theta < 0.5$， 预测 $y=0$，i.e. $\theta^Tx<0$

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline

In [2]:
import numpy as np
from numpy import exp
# import matplotlib.pyplot as plt
# import seaborn as sns
import bqplot.pyplot as plt
def sigmoid(z):
    '''Sigmoid function'''
    return 1/(1+exp(-z))

z = np.linspace(-10,10,100);



plt.figure(title='sigmoid plot');
plt.plot(z,sigmoid(z));
plt.xlabel('z');
plt.ylabel('sigmoid(z)');
plt.show();

VBox(children=(Figure(axes=[Axis(label='z', scale=LinearScale()), Axis(label='sigmoid(z)', orientation='vertic…

## Decision Boundary
**Linear Decision Boundary：**
$$ h_\theta(x) = g(\theta_0+\theta_1x_1 +\theta_2x_2)$$

**No-linear Decision Boundary：**
$$ h_\theta(x) = g(\theta_0+\theta_1x_1 +\theta_2x_2 +\theta_3x_1^2+\theta_4x_2^2+\theta_5x_1x_2)$$

### 生成数据

In [3]:

import numpy as np
from random import random
from numpy import sin,cos,pi
import pandas as pd
from bqplot import *
xs = LinearScale()
ys = LinearScale()

# data_x = np.linspace()
R =5
N = 300
X = np.zeros([N,2])
for i in range(N):
    r,theta = R,2*pi*random()
    x1,x2 = r*cos(theta),r*sin(theta)
    X[i,0],X[i,1] = x1,x2
    R -=0.01
    
fig = plt.figure(title='test data',animation_duration=1900)
scatter_plot1 = plt.scatter(X[:,0],X[:,1])

print(R)
R=1.5
n = 100
x = np.zeros([n,2])
for i in range(n):
    r,theta = R,2*pi*random()
    x1,x2 = r*cos(theta),r*sin(theta)
    x[i,0],x[i,1] = x1,x2
    R -=0.01
print(R)
scatter_plot2 = plt.scatter(x[:,0],x[:,1]);

scatter_plot1.colors = ['Green']
scatter_plot2.colors = ['Red']
fig

2.000000000000064
0.4999999999999991

Figure(animation_duration=1900, axes=[Axis(scale=LinearScale()), Axis(orientation='vertical', scale=LinearScal…

In [11]:

scatter_plot2.x = x[:,1]
scatter_plot2.y = x[:,0]
scatter_plot1.x = X[:,0]
scatter_plot1.y = X[:,1]

In [12]:
scatter_plot1.x = X[:,1]
scatter_plot1.y = X[:,0]
scatter_plot2.x = x[:,0]
scatter_plot2.y = x[:,1]


我真无聊
***

### 拼接数据  及 导出csv文件

In [7]:

df1 = pd.DataFrame({'x1':X[:,0],'x2':X[:,1],'y':np.linspace(1,1,len(X))});
df1.head()

df0 = pd.DataFrame({'x1':x[:,0],'x2':x[:,1],'y':np.linspace(0,0,len(x))});
df0.head()

# 拼接
df = pd.concat([df0,df1],axis=0)
# df.describe()

df = df.to_numpy()
np.shape(df)
# 洗牌
np.random.shuffle(df)
print(df)

df = pd.DataFrame({'x1':df[:,0],'x2':df[:,1],'y':df[:,2]});
df.head(20)
df.to_csv("myLogisticTestFile.csv",index=False,sep=',')

         x1        x2    y
0  4.996796 -0.178973  1.0
1  0.819591 -4.922232  1.0
2 -3.899383  3.097614  1.0
3  2.402523 -4.350722  1.0
4  4.853696 -1.021388  1.0

         x1        x2    y
0  1.445318  0.401317  0.0
1 -0.845175  1.227102  0.0
2  1.142973  0.940219  0.0
3  1.269047  0.741903  0.0
4  0.352262  1.416867  0.0

(400, 3)

[[-3.59333319 -0.43858477  1.        ]
 [-0.92138129 -3.71752021  1.        ]
 [-3.18455156 -1.19106312  1.        ]
 ...
 [-3.96399067  0.7799859   1.        ]
 [-1.24527563  0.19206405  0.        ]
 [ 0.42644371  0.37821391  0.        ]]

          x1        x2    y
0  -3.593333 -0.438585  1.0
1  -0.921381 -3.717520  1.0
2  -3.184552 -1.191063  1.0
3  -0.257289  4.522688  1.0
4  -3.379796  2.940642  1.0
5   4.746043 -1.370647  1.0
6  -0.186107  4.105784  1.0
7  -0.198865 -3.424230  1.0
8  -2.313558  0.412247  1.0
9   4.996796 -0.178973  1.0
10 -1.752447 -2.422608  1.0
11 -3.825050  2.965568  1.0
12 -1.223085  1.983170  1.0
13 -1.707319  1.371555  1.0
14  1.697762  3.219814  1.0
15 -0.845175  1.227102  0.0
16 -0.825281 -3.349837  1.0
17  3.346123  0.161121  1.0
18  0.256686 -2.597347  1.0
19  1.118001  2.654143  1.0

### Cost function
>
>$$
J(\theta) =\frac{1}{m}\sum_{i=1}^{m}\frac{1}{2}(h_\theta(x^{(i)})-y^{(i)})^2
=\frac{1}{m}\sum_{i=1}^{m}Cost(h_\theta(x^{(i)},y^{(i)}))\\
Cost(h_\theta(x),y) = \left\{\begin{aligned}
 -log(h_\theta(x))  &\quad \text{if}\quad y = 1 \\
 -log(1 - h_\theta(x))&\quad \text{if}\quad y = 0
\end{aligned}
\right.$$


将上面公式写成一行：
>
>$$
J(\theta) =-\frac{1}{m}\sum_{i=1}^{m}[y^{(i)}\log h_\theta(x^{(i)})+(1-y^{(i)})\log (1-h_\theta(x^{(i)}))]
$$

**To fit parameters $\theta$:**
$$ \min_\theta J(\theta) $$

**To make a prediction given new $x$:**
$$\text{Output}\quad
h_\theta(x)=\frac{1}{1+e^{-\theta^Tx}}
$$

In [8]:
# 特征缩放
def normorlize_feature(x):
    '''沿着x读入的维度对其进行规范化'''
    return (x - x.mean())/x.std()

In [9]:
df = df.to_numpy()

In [72]:
rows,cols=np.shape(df)
normal_X = np.empty([rows,cols-1])


for _ in range(cols-1):
    normal_X[:,_] = normorlize_feature(df[:,_])

normal_X = np.hstack((np.ones([rows,1]),normal_X)) # 横向拼接数据,加入X0
np.shape(normal_X)
normal_X

(400, 3)

array([[ 1.        , -1.57571641, -0.26998911],
       [ 1.        , -0.3875004 , -1.74170244],
       [ 1.        , -1.39393138, -0.60773057],
       ...,
       [ 1.        , -1.74054766,  0.27695264],
       [ 1.        , -0.5315361 ,  0.01307052],
       [ 1.        ,  0.21187687,  0.0966218 ]])

In [117]:
# Linear
def h(theta,X):
    return sigmoid(X @ theta)

theta = np.random.rand(cols,1)
# theta
# h(theta,normal_X)

# Non_linear
# def h(theta,X):
#     pass


# y 是最后一列
y=df[:,cols-1].reshape(rows,1);

def cost_func(theta,X,y):
    """ Cost function 内部的求和在这里被我用向量点积替换"""
    print(np.shape(y.T @ np.log(h(theta,X))))
    return -(y.T @ np.log(h(theta,X)) + (1-y).T@ np.log(1-h(theta,X)))/len(y)

cost_func(theta,normal_X,y)

(400, 1)

y的shape(400, 1)
(1, 1)

array([[0.82939369]])

### Gradient Descent
>$$
J(\theta) =-\frac{1}{m}\sum_{i=1}^{m}[y^{(i)}\log h_\theta(x^{(i)})+(1-y^{(i)})\log (1-h_\theta(x^{(i)}))]
$$

Want $ \min_\theta J(\theta) $：

Repeat{$$
\theta_j := \theta_j - \alpha \sum_{i=1}^{m}(h_\theta(x^{(i)})-y^{(i)})x_j^{(i)}\\
\text{(simultaneously update all $\theta_j$)}
$$}

**Algorithm looks identical to linear regression!**